
.bloc {
    background-color: $couleur-tertiaire;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    animation: off;
    animation-duration: 3s;
    transition: opacity 3s ease-in-out;
    animation-delay: 1.90s;
    animation-fill-mode: both;
  
    &__loader {
      width: 200px;
      height: 200px;  
      align-items: center;
      justify-content: center;
      border: solid 17px  $couleur-secondaire;
      margin-top: 20%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      z-index: 1;
      border-top-color: $couleur-primaire;
      animation: rotate linear infinite;
      animation-duration: 3s ;
    }
  }
  