@keyframes fond {
    from {
      opacity: 80%;
  }
  to {
    display: none;
    opacity: 0%;
    z-index: -1;  
  }
  }

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  .box-restaurant__coeur {
            position: absolute;
            right: 50px;
            bottom: 30px;
            font-size: 25px;

           

            .coeur-anim-vide{  
              position: absolute;
              left: 10px; ;  
              bottom: 20px;
             
           
               
            }

            &:hover .coeur-anim-vide {
              color: transparent;
              transform: color;
              transition-delay: 0.2s;
            }

            .coeur-anim{ 
              position: absolute;
              left: 10px;  
              bottom: 0px;
              color: transparent;
              font-size: 0px;
                
            }

    
            &:hover .coeur-anim {
                
                position: absolute;
                bottom: 22px;
                left: 16px;
                font-size: 25px;
                transform: translate(-25%,10%);

                transition-property: color;
                transition-duration: 0.3s;
                color: $couleur-secondaire;
                
                transition-property: font-size;
                font-weight: bold;
                transition-duration: 0,3s;
                font-size: 25px;
                
                
            }
        }

  
  