/* animation loader */

@keyframes fond {
    from {
      opacity: 80%;
  }
  to {
    display: none;
    opacity: 0%;
    z-index: -1;  
  }
  }

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

/* animation coeur première page */

  .box-restaurant__coeur {
            position: absolute;
            right: 50px;
            bottom: 30px;
            font-size: 25px;
            background: none;
            border: none;

            .coeur-anim-vide{  
              position: absolute;
              left: 10px; ;  
              bottom: 20px;   
            }

                &:hover .coeur-anim-vide {
                color: transparent;
                transform: color;
                transition-delay: 0.2s;
            }

            .coeur-anim{ 
              position: absolute;
              left: 10px;  
              bottom: 0px;
              color: transparent;
              font-size: 0px;    
            }
                &:hover .coeur-anim {
                
                  position: absolute;
                  bottom: 22px;
                  left: 16px;
                  font-size: 25px;
                  transform: translate(-25%,10%);

                  transition-property: color;
                  transition-duration: 0.3s;
                  background: -webkit-gradient(linear, left top, left bottom, from($couleur-primaire), to($couleur-secondaire));
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;

                  transition-property: font-size;
                  font-weight: bold;
                  transition-duration: 0,4s;
                  font-size: 25px;    
            }
        }

/* animation coeur  des cartes entête des pages restaurant */

.block__conteneur__coeur {
  position: absolute;
  right: 50px;
  top: 15px;
  font-size: 25px;
  background: none;
  border: none;

    .block__conteneur__coeur-vide{  
    position: absolute;
    left: 10px; ;  
    top: 20px;   
    }

      &:hover .block__conteneur__coeur-vide {
      color: transparent;
      transform: color;
      transition-delay: 0.2s;
      }

    .block__conteneur__coeur-anim{ 
    position: absolute;
    left: 10px;  
    top: 10px;
    color: transparent;
    font-size: 0px;    
  }
      &:hover .block__conteneur__coeur-anim {

        content: "\f004";
      
        position: absolute;
        top: 17px;
        left: 16px;
        font-size: 25px;
        transform: translate(-25%,10%);

        transition-property: color;
        transition-duration: 0.3s;
        background: -webkit-gradient(linear, left top, left bottom, from($couleur-primaire), to($couleur-secondaire));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        transition-property: font-size;
        font-weight: bold;
        transition-duration: 0,4s;
        font-size: 26px;    
  }
}        
  
/* animation pour l'afichage décalé des cartes menu dans les pages restaurant */
      
@keyframes anim-carte {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% { 
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim-check {
  0% {
    width: 0;
     
  }
  100% {  
    width: 100%;
    
  }
}
   

.fa-check-circle {

  color: white;
  transition-duration: 1s;      
}

.menu__conteneur {
  &:hover {
      .menu__conteneur__icon {
          animation: anim-check 1s;
      }
      .fa-check-circle {
        transform: rotate(360deg);
        
      }
  }
}

