.fonctionnement__nombre{ 
    @include fonct-chiffre  
    }

.fonctionnement{

      &__conteneur { 
          @include bouton-fonctionnement;
          margin-top: 20px;    
                  } 
                              
      &__icon {
          margin-left: 30px;
                 }
  
      &__texte {
          margin-left: 30px;
          font-weight: 500;
       
                  }
                
      }    
.decouverte__bouton {
  display: flex;
  justify-content: center
} 

.decouverte__bouton button{
    @include bouton-index;
    
    &:hover {
      background-color: lighten(#a473e06b, 15%);
      background-blend-mode: lighten;
      box-shadow: 4px 4px 6px #000;
      
    }
  }                