@charset "UTF-8";
.bloc {
  background-color: #99e2d0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  animation: fond;
  animation-duration: 3s;
  transition: opacity 3s ease-in-out;
  animation-delay: 1.9s;
  animation-fill-mode: both;
}
.bloc__loader {
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  border: solid 17px #ff79da;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  z-index: 1;
  border-top-color: #9356dc;
  animation: rotate linear infinite;
  animation-duration: 3s;
}

/* animation loader */
@keyframes fond {
  from {
    opacity: 80%;
  }
  to {
    display: none;
    opacity: 0%;
    z-index: -1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* animation coeur première page */
.box-restaurant__coeur {
  position: absolute;
  right: 50px;
  bottom: 30px;
  font-size: 25px;
  background: none;
  border: none;
}
.box-restaurant__coeur .coeur-anim-vide {
  position: absolute;
  left: 10px;
  bottom: 20px;
}
.box-restaurant__coeur:hover .coeur-anim-vide {
  color: transparent;
  transform: color;
  transition-delay: 0.2s;
}
.box-restaurant__coeur .coeur-anim {
  position: absolute;
  left: 10px;
  bottom: 0px;
  color: transparent;
  font-size: 0px;
}
.box-restaurant__coeur:hover .coeur-anim {
  content: "\f004";
  position: absolute;
  bottom: 22px;
  left: 16px;
  font-size: 25px;
  transform: translate(-25%, 10%);
  transition-property: color;
  transition-duration: 0.3s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-property: font-size;
  font-weight: bold;
  transition-duration: 0, 4s;
  font-size: 25px;
}

/* animation coeur  des cartes entête des pages restaurant */
.block__conteneur__coeur {
  position: absolute;
  right: 50px;
  top: 15px;
  font-size: 25px;
  background: none;
  border: none;
}
.block__conteneur__coeur .block__conteneur__coeur-vide {
  position: absolute;
  left: 10px;
  top: 20px;
}
.block__conteneur__coeur:hover .block__conteneur__coeur-vide {
  color: transparent;
  transform: color;
  transition-delay: 0.2s;
}
.block__conteneur__coeur .block__conteneur__coeur-anim {
  position: absolute;
  left: 10px;
  top: 10px;
  color: transparent;
  font-size: 0px;
}
.block__conteneur__coeur:hover .block__conteneur__coeur-anim {
  content: "\f004";
  position: absolute;
  top: 17px;
  left: 16px;
  font-size: 25px;
  transform: translate(-25%, 10%);
  transition-property: color;
  transition-duration: 0.3s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-property: font-size;
  font-weight: bold;
  transition-duration: 0, 4s;
  font-size: 26px;
}

/* animation pour l'afichage décalé des cartes menu dans les pages restaurant */
@keyframes anim-carte {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu__anim-1 {
  animation: anim-carte 0.5s 0.2s linear both;
  animation-duration: 0.5s;
}

.menu__anim-2 {
  animation: anim-carte 1s 0.4s linear both;
  animation-duration: 1s;
}

.menu__anim-3 {
  animation: anim-carte 1.5s 0.6s linear both;
  animation-duration: 1.5s;
}

.menu__anim-4 {
  animation: anim-carte 2s 1s linear both;
  animation-duration: 2s;
}

.menu__anim-5 {
  animation: anim-carte 2.5s 1.2s linear both;
  animation-duration: 2.5s;
}

.menu__anim-6 {
  animation: anim-carte 3s 2s linear both;
  animation-duration: 3s;
}

.menu__anim-7 {
  animation: anim-carte 3.5s 2.2s linear both;
  animation-duration: 3.5s;
}

.menu__anim-8 {
  animation: anim-carte 4s 2.4s linear both;
  animation-duration: 4s;
}

.menu__anim-9 {
  animation: anim-carte 4.5s 2.6s linear both;
  animation-duration: 4.5s;
}

.menu__anim-10 {
  animation: anim-carte 5s 2.8s linear both;
  animation-duration: 5s;
}

html {
  margin: 0;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.image-top {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.image-top__image {
  width: 100%;
  object-fit: cover;
  height: 30vh;
}

html {
  font-family: roboto;
  font-size: 16px;
}

h1 {
  font-family: Shrikhand, "cursive";
  font-size: 32px;
  font-weight: 200;
}

h2 {
  font-family: roboto;
  font-size: 24px;
  font-weight: 800;
}

h3 {
  font-family: roboto;
  font-size: 20px;
  font-weight: 900;
  margin: 0;
}

p {
  margin: 10px;
}

.fonctionnement__nombre {
  margin-left: -25px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356dc;
  font-size: 15px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.fonctionnement__conteneur {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
  margin: 15px 20px 15px 30px;
  border-radius: 20px;
  box-shadow: 1px 2px 8px 2px rgba(196, 196, 196, 0.4509803922);
  background-color: #f5f5f5;
  cursor: pointer;
  margin-top: 20px;
}
.fonctionnement__conteneur:hover {
  background-color: rgba(235, 85, 192, 0.1450980392);
  box-shadow: 1px 2px 8px 2px rgba(146, 86, 220, 0.2588235294);
  color: #9356dc;
}
.fonctionnement__conteneur:hover .fonctionnement__texte {
  color: black;
}
.fonctionnement__icon {
  margin-left: 30px;
}
.fonctionnement__texte {
  margin-left: 30px;
  font-weight: 500;
}

.decouverte__bouton button {
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
}
.decouverte__bouton button:hover {
  background-color: rgba(205, 178, 238, 0.4196078431);
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}

.header {
  width: 100%;
  height: 70px;
  padding: 15px 0 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__fleche {
  position: absolute;
  left: 20px;
  width: 20%;
}

.main {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  top: -20px;
  padding: 5px;
}

.position {
  background-color: #f6f6f6;
}

.footer {
  background-color: #353535;
  color: #ffffff;
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.footer__titre {
  font-family: "shrikhand";
  font-size: 20px;
  margin-left: 20px;
  padding-bottom: 30px;
}
.footer__conteneur {
  display: flex;
  margin-left: 20px;
}
.footer__conteneur__soustitre {
  margin-right: 10px;
  width: 17px;
}
.footer__titre {
  color: #ffffff;
}
.footer__conteneur__lien {
  color: #ffffff;
  padding-bottom: 15px;
}
.footer__conteneur__liens {
  color: #ffffff;
  margin-left: 20px;
}
.footer__cl {
  padding-bottom: 15px;
}

.block__conteneur {
  display: flex;
  justify-content: start;
  justify-content: space-between;
  align-items: center;
}

.menu__ligne {
  width: 40px;
  border: 1px solid #99e2d0;
  background-color: #99e2d0;
  margin-left: 1px;
  margin-bottom: 15px;
}
.menu__entree__titre, .menu__plat__titre, .menu__dessert__titre {
  margin-bottom: 4px;
}
.menu__conteneur {
  background-color: #fff;
  border-radius: 15px;
  height: 70px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.menu__conteneur__titre {
  margin: 0;
  font-size: 18px;
}
.menu__conteneur__inline {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 25px;
}
.menu__conteneur__inline__soustitre {
  margin: 0%;
  font-size: 14px;
}
.menu__conteneur__inline__prix {
  margin-left: auto;
}

.lieu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: inset 0 5px 5px 0 #dddddd;
}
.lieu__icon {
  padding: 0 1.5% 0 0%;
}
.lieu__texte {
  padding: 0 0% 0 1.5%;
}

.decouverte {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding: 30px 0;
}
.decouverte__titre {
  width: 70%;
  text-align: center;
}
.decouverte__soustitre {
  width: 80%;
  text-align: center;
  padding-bottom: 20px;
}
.decouverte__bouton {
  padding-bottom: 20px;
}

.section__titre {
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.restaurant {
  width: 100%;
  margin-top: 20%;
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.restaurant .restaurant-titre {
  margin-left: 0px;
  font-weight: 800;
}
.restaurant .restaurant__image {
  width: 100%;
  object-fit: cover;
  height: 30vh;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.restaurant-section {
  position: relative;
  box-shadow: 4px 4px 6px #aaa;
  border-radius: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-restaurant {
  color: #038e6b;
  background: #99e2d0;
  border: 5px solid #99e2d0;
  border-radius: 5px;
  position: absolute;
  right: 4%;
  top: 5%;
}
.box-restaurant__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 15px 0px 15px;
}
.box-restaurant__soustitre {
  margin-left: 14px;
}

/*# sourceMappingURL=styles.css.map */
