html {
        margin: 0;
}

body {
        margin: 0;
}

a {     text-decoration: none;
        color: black;
}

* {
        box-sizing: border-box;
}


.image-top {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        background-color: $couleur-tertiaire;
       

        &__image {
                width: 100%;
                object-fit: cover;
                height: 30vh;

        }
}


     