html {
        margin: 0;
}

body {
        margin: 0;
        font-family: "roboto", sans-serif;
}

a {     text-decoration: none;
        color: black;
}

* {
        box-sizing: border-box;
}


.image-top {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        
        &__image {
                @include image;
        }
}




     