
.lieu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color :#eaeaea;
    box-shadow: inset 0 5px 5px 0  #dddddd;

        &__icon {padding: 0 1.5% 0 0%;}
        &__texte {padding: 0 0% 0 1.5%;}
}

.decouverte {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f6f6f6;
    padding: 30px 0;

    &__titre {width: 70%;
                text-align: center;
                
            }

    &__soustitre {width: 80%;
                    text-align: center;
                    padding-bottom: 20px;
                }
    
                &__bouton {
                    padding-bottom: 20px;
                }
    }

.section {

    @media (min-width: $tablette) {
        display: flex;
        justify-content: space-around;
        
    }
}


.section__titre  { 
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;

    @media (min-width: $tablette) {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        
        
    }
    
    
    }





.restaurant { 
        width: 100%;
        margin-top: 20%;   
        background-color: $back-main;
        padding: 2rem 1rem;

        @media (min-width: $tablette) {
            margin-top: 5%;
            display: flex;
            flex-direction: row;
            align-content: stretch;
            justify-content: space-around;
            flex-wrap: wrap;
        }


        .restaurant-titre {
           @include titre-h2-index;
           @media (min-width: $tablette) {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        
           }
        }

        .restaurant__image {
            @include image;
            @include image-restaurant;
        }
    
    }



.restaurant-section { 
        
        position: relative;
        box-shadow: 4px 4px 6px #aaa;
        border-radius: 20px;
        padding-bottom: 10px;
        margin-top: 20px;
        @media (min-width: $tablette) {
            width: 45%;
            margin-top: 3%;
            
        }        
        }


.box-restaurant {
            @include restaurant-nouveau;  

            &__titre{    
                display: flex;
                justify-content: space-between;
                align-items: center;  
                margin: 10px 15px 0px 15px;       
            }

            &__soustitre {
                margin-left: 14px;
                }    
            
        }

  


    


       
        
    

