@mixin bouton-index {
    background-image: $degrade;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 5px;
    color: #fff;
    font-weight: bold;
    box-shadow: 4px 4px 6px #aaa;
    cursor: pointer;
  }

@mixin bouton-foctionnement {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 15px 20px 15px 30px;
    border-radius: 20px;
    box-shadow: 1px 2px 8px 2px #c4c4c4;
    background-color: #f5f5f5;
}

@mixin image { 
    width: 100%;
    object-fit: cover;
    height: 30vh;
}

@mixin image-restaurant {
    width: 100%;
    border-radius: 20px 20px 0 0;
    
    
}

@mixin titre-h2-index {
    
    margin-left: 0px;
    font-weight: 800;
}

@mixin restaurant-nouveau {
    color: #038e6b;
    background: $couleur-tertiaire;
    border: 5px solid $couleur-tertiaire;
    border-radius: 5px;
    position: absolute;
    right: 5%;
    top: 5%;
}